name: Cyclic Imports
on:
  workflow_call:
  workflow_dispatch:  # manual trigger

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup python environment
        uses: ./.github/actions/setup-env

      - name: check startorch.periodic
        run: |
          python -c "from startorch import periodic"
      - name: check startorch.periodic.sequence
        run: |
          python -c "from startorch.periodic import sequence"
      - name: check startorch.periodic.timeseries
        run: |
          python -c "from startorch.periodic import timeseries"
      - name: check startorch.random
        run: |
          python -c "from startorch import random"
      - name: check startorch.sequence
        run: |
          python -c "from startorch import sequence"
      - name: check startorch.tensor
        run: |
          python -c "from startorch import tensor"
      - name: check startorch.timeseries
        run: |
          python -c "from startorch import timeseries"
      - name: check startorch.transformer
        run: |
          python -c "from startorch import transformer"
      - name: check startorch.utils
        run: |
          python -c "from startorch import utils"
