name: Nightly Package Tests
on:
  schedule:
    - cron: '10 11 * * *' # run at 11:10 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  stable:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install startorch'

  stable-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "startorch[all]"'

  stable-extras:
    uses: ./.github/workflows/test-package-extras.yaml

  latest:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre startorch'

  latest-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "startorch[all]"'

  latest-extras:
    uses: ./.github/workflows/test-package-extras.yaml
    with:
      install-args: '--pre'

  ########################
  #     Dependencies     #
  ########################

  batchtensor:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: batchtensor
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).batchtensor) }}

  coola:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: coola
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).coola) }}

  numpy:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: numpy
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).numpy) }}

  objectory:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: objectory
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).objectory) }}

  torch:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: torch
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).torch) }}


  #################################
  #     Optional dependencies     #
  #################################

  iden:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: iden
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).iden) }}

  matplotlib:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: matplotlib
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).matplotlib) }}

  plotly:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: plotly
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).plotly) }}
